<header>
    <nav>

            <div class="nav-title">POKEDEX</div>
            <div class="nav-links">
                <a class = "button nav-link" href="/pokemon">Index</a>
                <a class = "button nav-link" href="/pokemon/<%= featured %>">Featured</a>
                <a class = "button nav-link" href="/pokemon/new">New</a>
            </div>

    </nav>

</header>