<header>
    <nav>
        <h1>Navbar</h1>
        <div class="nav-links">
            <div class="button"><a class = "nav-link" href="/pokemon">Index</a></div>
            <div class="button"><a class = "nav-link" href="/">Random</a></div>
            <div class="button"><a class = "nav-link" href="/pokemon/new">New</a></div>
        </div>
    </nav>

</header>